<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!-- 加载属性文件db.properties -->
    <context:property-placeholder location="classpath:db.properties" ignore-unresolvable="true"/>
    <!-- 配置数据源  c3p0-->
    <bean id="ds_0" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${db.driver}" />
        <property name="jdbcUrl" value="${db.url}" />
        <property name="user" value="${db.username}" />
        <property name="password" value="${db.password}" />
        <property name="initialPoolSize" value="3"/>			<!-- 初始化连接池大小 -->
        <property name="minPoolSize" value="5"/>				<!-- 连接池中保留最小连接数 -->
        <property name="maxPoolSize" value="20"/>				<!-- 连接池中保留的最大连接数: 默认是5 -->
        <property name="maxIdleTime" value="60"/>				<!-- 最大空闲时间,60秒内未使用则连接被丢弃。若为0则永不丢弃。Default: 0 -->
        <property name="numHelperThreads" value="6"/>
        <property name="acquireIncrement" value="6"/>			<!-- 定义在从数据库获取新连接失败后重复尝试的次数 -->
        <property name="idleConnectionTestPeriod" value="60"/>	<!-- 每60秒检查连接池中的空闲连接 -->
        <property name="checkoutTimeout" value="30000"/>
        <property name="testConnectionOnCheckout"  value="false" />	<!-- 关闭每个connection提交的 时候都将校验其有效性 -->
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="ds_0"/>
        <property name="mapperLocations" value="classpath*:mybatis/mapper/*.xml" />
        <property name="configLocation">
            <value>classpath:mybatis/mybatis-config.xml</value>
        </property>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.yll.sharde.repository"></property>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="ds_0" />
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager" />
</beans>
